/*This is just an example of a CSS declaration block.  Add your own selectors, property names and property values underneath. */
.big {
	font-size: 125%;
}

.test {text-align: center; font-size: 200%; color: brown;}
